<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Cartoon Existence</button>


<app-create-content (createContent)="onContentCreated($event)"></app-create-content>
<div>
  <div *ngFor="let content of contentItems">
    <app-content-card [contentItem]="content"></app-content-card>
  </div>
</div>
<!-- <p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Not specified</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Funny</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: 'Funny'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Fiction</h1>
<app-content-card *ngFor="let contentItem of contentItems | typefilter: 'Fiction'" [contentItem]="contentItem"></app-content-card>
</section> -->